*,
*::before,
*::after {
  margin: 0;
  /* 清除所有外边距 */
  padding: 0;
  /* 清除所有内边距 */
  background: none;
  /* 清除背景（颜色/图片/渐变等） */
  border: none;
  /* 清除所有边框 */

  /* 可选增强：统一盒模型（避免边框/padding影响元素尺寸） */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: 1px solid #eee;
}

hr {
  border: 1px solid #eee;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* （可选）进一步重置列表默认样式（如ul/ol的 list-style） */
ul,
ol {
  list-style: none;
}
